body {
    margin: 0;
    padding: 0;
}

.page1 {
    background: #1B3764;
    padding-bottom: 75px;
    color: white;
}

.allpages {
    width: 85%;
    margin: auto;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    
}

.style {
    width: 10px;
}

.button {
    background: #FFCA42;
    border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
    borner
}