body {
    background: #1B3764;
}
.page{
    background: #1B3764
    width: 90%
    max-width: 100%;
    margin:auto;
}

.navigation {
display: flex;
}

.nav-left-1 {
    display: inline-flex; 
}

.nav-left-2 {
    display: inline flex;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}