body {
    background: #1B3764;
}
.page{
    background: #1B3764
}

.nav-left-1 {
    display: flex;
}

.nav-left-2 {
    display: flex-center;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}